body {
    background-image: url("minimalist_iceberg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1C2125;
}

.spacer {
    height: 200px;
}

h1, p {
    text-align: center;
}
