body {
    font-family: 'Montserrat', sans-serif;
    color: #FCF9FA;
    background-color: #40444C;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.navbar {
    position: fixed;
    margin: auto;
    padding: 5px;
    max-width: 100%;
}

div.navbar ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
}

div.navbar li {
    float: right;
}

div.navbar a {
    display: block;
    padding: 9px;
    color: #dddddd;
    transition: 0.5s;
    text-decoration: none;
    border-radius: 0.25rem;
}

div.navbar a:hover {
    background-color: #585757;
}

/* home page styling */
div.about {
    display: flex;
    width: 90%;
    align-items: flex-start;
    gap: 40px;
    margin: auto;
    /* the navbar is 80 px tall so we add padding of exactly 80 so that the
     * navbar doesn't block any content unless you scroll */
    padding-top: 80px;
}

div.about-text {
    flex: 2;
}

div.about-text p {
    font-size: 20px;
}

div.about-image {
    flex: 1;
}

div.about-image img {
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* small width and mobile styling */
@media (max-width: 768px) {
    div.about {
        flex-direction: column;
        align-items: center;
    }

    div.about-text,
    div.about-image {
        flex: none;
        width: 100%;
        text-align: center;
    }

    div.navbar {
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/* end of home page styling */
/* projects and experience page styling */
div.knowledge-description-container {
    padding-top: 80px;
    width: 40%;
    margin: auto;
    text-align: center;
}

div.knowledge-description {
    padding: 20px;
}

div.knowledge-description details {
    border-radius: 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    background-color: #585757;
    padding: 10px;
}

div.knowledge-description details:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    cursor: grab;
}
