body {
    font-family: 'Montserrat', sans-serif;
    color: #FCF9FA;
    background-color: #40444C;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div.navbar {
    position: fixed;
    margin: auto;
    padding: 5px;
    max-width: 100%;
}

div.navbar ul {
    display: flex;
    list-style-type: none;
}

div.navbar li {
    float: right;
}

div.navbar a {
    display: block;
    padding: 9px;
    color: #dddddd;
    transition: 0.5s;
    text-decoration: none;
    border-radius: 0.25rem;
}

div.navbar a:hover {
    background-color: #585757;
}

div.about {
    display: flex;
    width: 90%;
    align-items: flex-start;
    gap: 40px;
    margin: auto;
    /* the navbar is 80 px tall so we add padding of exactly 80 so that the
     * navbar doesn't block any content unless you scroll */
    padding-top: 80px;
}

div.about-text {
    flex: 2;
}

div.about-text p {
    font-size: 20px;
}

div.about-image {
    flex: 1;
}

div.about-image img {
    width: 100%;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    div.about {
        flex-direction: column;
        align-items: center;
    }

    div.about-text,
    div.about-image {
        flex: none;
        width: 100%;
        text-align: center;
    }

    div.navbar {
        left: 50%;
        transform: translate(-50%, 0%);
    }

    div.navbar ul {
        /* for some reason, if padding isn't set to 0 then there is a weird 40
         * px padding on the left of the ul. */
        padding: 0px;
    }
}
